@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import "./utilities";

a {
  color: $primary;
  transition: .2s ease;

  &:hover {
    color: darken($primary, 10);
    transition: .2s ease;
  }
}

.navbar {

  .button {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
  }

  .navbar-burger span {
    color: $link;
  }
}

.create {
  color: $grey-lighter;
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
  height: 120px;
  transition: .2s ease;
  white-space: inherit;
  width: 100%;

  &:hover {
    border-color: $primary;
    color: darken($primary, 10);
    transition: .2s ease;

  }

  i {
    font-family: 'Fontawesome';
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1rem;
  }

  p {
    color: $primary;
    line-height: 1.5rem;
  }
}

main.section {

  .how-to {
    border: 1px solid $grey-lighter;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }

  .box {
    box-shadow: none;
    margin-bottom: 1rem;
    min-height: 200px;
    position: relative;

    p {
      color: $grey-lighter;
      font-size: 1.3rem;
      left: 0;
      line-height: 2rem;
      position: absolute;
      right: 0;
      bottom: 30%;
    }

    &.category:not(.new) {
      @include border(1px, solid, $primary);
    }

    &.new {
      @include border(1px, solid, $grey-lighter)
    }

    .subtitle {
      border-radius: 3px 3px 0 0;
      font-weight: 300;
      padding: .5rem;

      i {
        font-size: 1rem;
      }
    }
  }
}

aside.sidebar {

  .create-story {
    margin-bottom: 2rem;
  }

  .stories {
    @include border(1px, solid, $grey-lighter);
    border-left: 0;
    border-right: 0;
    max-height: 500px;
    overflow-y: scroll;
  }

  .story {
    border-radius: 3px;
    margin: 1rem auto;
    padding: .5rem;
    width: 90%;

    .storyline {
      font-size: 1rem;
      width: 75%;

      &:focus {
        background-color: $white-ter;
      }
    }

    a {
      float: right;
      line-height: 1rem;
      margin: 5px;

      &.fa-grip-vertical {
        cursor: move;
      }
    }
  }
}
