@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import "./utilities";

.hide {
  display: none;
}

a {
  color: $primary;
  transition: .2s ease;

  &:hover {
    color: darken($primary, 10);
    transition: .2s ease;
  }
}

.navbar {

  .button {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
  }

  .navbar-burger span {
    color: $link;
  }
}

.create {
  color: $grey-lighter;
  margin-bottom: 1rem;
  transition: .2s ease;
  width: 100%;

  &.category {
    display: flex;
  }

  .submit {
    color: $primary;
    font-size: 1.2rem;
    margin-top: .5rem;

    &[name = "cardSubmit"] {
      width: 100%;
    }

    &:hover {
      transition: .2s ease;
    }
  }

  p {
    color: $primary;
    line-height: 1.5rem;
  }
}

main.section {
  min-height: 100vh;

  .how-to {
    border: 1px solid $grey-lighter;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }

  .box {
    box-shadow: none;
    margin-bottom: 1rem;
    min-height: 200px;
    position: relative;

    p {
      color: $grey-lighter;
      font-size: 1.3rem;
      left: 0;
      line-height: 2rem;
      position: absolute;
      right: 0;
      bottom: 30%;
    }

    &.category:not(.new) {
      @include border(1px, solid, $primary);
    }

    &.new {
      @include border(1px, solid, $grey-lighter)
    }

    .subtitle {
      border-radius: 3px 3px 0 0;
      font-weight: 300;
      padding: .5rem;

      i {
        font-size: 1rem;
      }
    }
  }
}

.storycard {
  @include border(1px, solid, $grey-lighter);
  border-width: 0 0 1px;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 2;
  margin-right: 1rem;
  outline: none;
  resize: none;
  text-align: center;
  width: 100%;

  &::placeholder {
    color: $grey-lighter;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 2;
    padding: 1rem;
    text-align: center;
  }
}

aside.sidebar {

  .create-story {
    margin-bottom: 2rem;
  }

  .storyline {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.5;
    padding: 1rem 1.5rem;
    text-align: center;
  }

  .story {
    border-radius: 3px;
    cursor: move;
    margin: 1rem auto;
    padding: .5rem;
    width: 95%;
    z-index: 100;

    a {
      float: left;
      line-height: 1rem;
      margin: 5px 5px 10px;
    }
  }
}
